## Import libraries

In [1]:
import pandas as pd
import os

## Initialization

In [6]:
estimator = "random_forest"
path = "../../../../../submission/sklearn/train_validation"

## Continuous

### All Features

In [10]:
classifier = pd.read_csv(os.path.join(path, "continuous/{0}/all_features/classifier.csv".format(estimator)))

results = pd.read_csv(os.path.join(path, "continuous/{0}/all_features/results.csv".format(estimator)))

best_f1 = results[results["f1"] == float(results["f1"].max())]

best_f1.head()

    index  accuracy  precision    recall        f1
72     72  0.788006    0.73101  0.652913  0.683666

In [ ]:
classifier[classifier["index"] == int(best_f1["index"])]

### Pearson Features

In [11]:
classifier_continuous = pd.read_csv(os.path.join(path, "continuous/{0}/pearson_features/classifier.csv".format(estimator)))

results_continuous = pd.read_csv(os.path.join(path, "continuous/{0}/pearson_features/results.csv".format(estimator)))

best_f1 = results_continuous[results_continuous["f1"] == float(results_continuous["f1"].max())]

In [12]:
best_f1.head()

    index  accuracy  precision    recall       f1
48     48  0.812064   0.768728  0.689873  0.72296

In [13]:
classifier_continuous[classifier_continuous["index"] == int(best_f1["index"])]

,index,n_estimators,criterion,max_depth,min_samples_split,min_samples_leaf
48,48,100,gini,15,10,5

## Categorical

### All Features

In [14]:
classifier = pd.read_csv(os.path.join(path, "categorical/{0}/all_features/classifier.csv".format(estimator)))

results = pd.read_csv(os.path.join(path, "categorical/{0}/all_features/results.csv".format(estimator)))

best_f1 = results[results["f1"] == float(results["f1"].max())]

best_f1.head()

    index  accuracy  precision    recall        f1
75     75  0.714435   0.630562  0.542668  0.565676

In [15]:
classifier_continuous[classifier_continuous["index"] == int(best_f1["index"])]

,index,n_estimators,criterion,max_depth,min_samples_split,min_samples_leaf
75,75,150,gini,15,10,5

### Chi2 Features

In [16]:
classifier = pd.read_csv(os.path.join(path, "categorical/{0}/chi2_features/classifier.csv".format(estimator)))

results = pd.read_csv(os.path.join(path, "categorical/{0}/chi2_features/results.csv".format(estimator)))

best_f1 = results[results["f1"] == float(results["f1"].max())]

In [17]:
best_f1.head()

    index  accuracy  precision    recall        f1
78     78  0.717573   0.610852  0.563329  0.578105

In [18]:
classifier_continuous[classifier_continuous["index"] == int(best_f1["index"])]

,index,n_estimators,criterion,max_depth,min_samples_split,min_samples_leaf
78,78,150,gini,15,15,5